* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

header {
  background-color: black;
  height: 60px;
  padding: 20px 50px;
}

header h1 {
  display: inline-block;
  font-size: 35px;
  line-height: 60px;
  color: white;
  cursor: pointer;
}

header nav {
  float: right;
}

header nav a {
  padding: 25px 13px;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  line-height: 60px;
}

header nav a:hover {
  border-bottom: 2px solid #65cdd5;
}

header nav li {
  display: inline-block;
  margin-right: 75px;
  position: relative;
}

header nav li:last-child {
  margin-right: 0;
}

header nav li:hover {
  transform: scale(1.2);
}

footer {
  background-color: black;
  height: 60px;
  color: white;
  text-align: center;
  padding-top: 20px;
}
