body{
    min-height: 100vh;
    display: flex;
}
*{ 
     margin: 0;
     list-style: none;
}
.container{
    display: flex;
    justify-content: space-between;
    flex: 1;
    flex-direction: column;
}
.imagem{
    width:50px;
    margin-right: 40px;
}
.header{
    height: 100px;
    background-color: #272626;
    box-shadow: 0 0 1rem #272626;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem 0 2rem;
    
}
.content{
    flex: 1;
    padding: 2rem;
}
.footer{
    height: 100px;
}
.footer{
    box-shadow: 0 0 1rem #272626;
    background-color: #272626;
    height: 55px;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 2rem 10px 2rem;
}
.logo{
    display: flex;
    align-items: center;
    flex: 1;
    color: white;
    font-size: xx-large;
}
nav > ul{
    flex: 1;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;

}
.header > nav{
    display: flex;
    font-size: large;
    font-weight: bold;
    color: white;
    flex: 1;
    height: 100%;
    align-items: flex-end;
    padding-bottom: 2rem;
}